@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?d75iye') format('truetype'),
    url('../fonts/icons.woff?d75iye') format('woff'),
    url('../fonts/icons.svg?d75iye') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}