@use 'variables'
@use 'transitions'
@use 'shared'
@use 'fonts'

@tailwind base
@tailwind components
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&display=swap')

i
  font-family: 'icons' !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

html
  font-family: Oxanium, system-ui, -apple-system

@each $name, $icon in variables.$icons
  .#{'' + $name}
    &:before
      content: $icon

:root
  @each $name, $color in variables.$colors
    --#{'' + $name}: #{'' + $color}