$colors: (
  dark:                                       #2B2E41,
  darker:                                     #242634,
  darkest:                                    #1D1F2B,
  
  light:                                      #93989A,
  lighter:                                    #B8B8B8,
  lightest:                                   #FFFFFF,

  primary:                                    #6271EB,
  secondary:                                  #CC42EE,
  success:                                    #53B9A2,
  warning:                                    #F49D35,
  danger:                                     #CD4A4A,
  accent:                                     #6F6996,
  info:                                       #6690FE,

  success-faded:                              #2D4343,
  warning-faded:                              #4E423A,
  danger-faded:                               #3F1919,
);

$icons: (
  chevron-left: '\e94d',
  chevron-right: '\e94e',
  circle-minus: '\e94f',
  circle-plus: '\e950',
  share: '\e951',
  repeat: '\e91d',
  arrow: '\e901',
  ban: '\e902',
  bar-chart: '\e903',
  bell: '\e904',
  bitcoin: '\e905',
  branch: '\e908',
  brightness-full: '\e909',
  brightness-moody: '\e90a',
  check: '\e90b',
  chevron: '\e90c',
  circle-question: '\e90d',
  circle-xmark: '\e90e',
  clock: '\e90f',
  cloud: '\e910',
  cloud-upload: '\e911',
  code: '\e912',
  coins: '\e913',
  compare: '\e914',
  contacts: '\e915',
  copy: '\e916',
  copy-box: '\e917',
  cube: '\e918',
  cubes: '\e919',
  dollar: '\e91a',
  earth: '\e94c',
  edit: '\e91e',
  ethereum: '\e91f',
  filter: '\e927',
  fingerprint: '\e928',
  folder: '\e929',
  folder-open: '\e92a',
  gear: '\e92b',
  grid: '\e92c',
  grid-small: '\e92d',
  house: '\e92e',
  key: '\e92f',
  layers: '\e930',
  lightning: '\e931',
  link: '\e932',
  lock: '\e933',
  plus: '\e934',
  power: '\e935',
  recycle: '\e936',
  refresh: '\e937',
  search: '\e938',
  seeding: '\e939',
  shield: '\e93a',
  shield-halved: '\e93b',
  sitemap: '\e93c',
  sliders: '\e93d',
  snowflake: '\e93e',
  square-arrow-right: '\e93f',
  star: '\e940',
  tag: '\e941',
  tags: '\e942',
  trash-can: '\e948',
  wallet: '\e949',
  warning-triangle: '\e94a',
  xmark: '\e94b',
  moon: '\e900'
);